section{
	-webkit-display: flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.section-heading{
	width: 100%;
}

.project-1,
.project-2,
.project-3{
	width: 31%;
}

.project-1,
.project-2{
	margin-right: 3%;
}

.project-3{
	margin-right: 0;
}
