section{
	-webkit-display: flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.section-heading{
	width: 100%;
}

.project-1,
.project-2,
.project-3{
	width: 30%;
	margin-right: 10px;
}

