*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
}

header{
	border-bottom: 5px solid #ababab;
	margin-bottom: 10px;
}

.logo,
.intro{
	display: inline-block;
}

.logo{
	width: 30%;
}

.intro{
	width: 60%;
}

.logo img{
	border-radius: 50%;
}

.title,
.sub-title{
	text-align: right;
	text-transform: uppercase;
	font-weight: 300;
	color: #989999;
}

.jumbotron img{
	width: 100%;
}

.section-heading{
	font-weight: 300;
	text-transform: uppercase;
}

.project-1 img,
.project-2 img,
.project-3 img{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-name{
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

.project-link{
	text-decoration: none;
	display: block;
	text-align: center;
	min-width: 48px;
	min-height: 48px;
}